modules = ["nodejs-20", "python-3.12", "web", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0", "javascript_object_storage:1.0.0", "javascript_openai_ai_integrations:1.0.0"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 3000

[[ports]]
localPort = 34295
externalPort = 5000

[[ports]]
localPort = 34755
externalPort = 8000

[[ports]]
localPort = 35719
externalPort = 6800

[[ports]]
localPort = 36423
externalPort = 3003

[[ports]]
localPort = 37085
externalPort = 3002

[[ports]]
localPort = 40267
externalPort = 4200

[[ports]]
localPort = 41909
externalPort = 3001

[[ports]]
localPort = 42155
externalPort = 6000

[[ports]]
localPort = 44913
externalPort = 5173

[[ports]]
localPort = 46039
externalPort = 8008

[[ports]]
localPort = 46503
externalPort = 8080

[objectStorage]
defaultBucketID = "replit-objstore-2b26c0d4-c890-4ccf-b083-33fd25c6909d"
